body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: #434455;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.header {
  color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-header .span-studio {
  color: #2e2f42;
}
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu:hover,
.menu:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-data {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-data:hover,
.contacts-data:focus,
.menu:hover,
.menu:focus {
  color: #404bbf;
}
.order {
  background-color: #2e2f42;
}
.order-titul {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.order-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #fff;
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
.titul-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.titul-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
  color: #2e2f42;
  text-align: center;
}
.team-li {
  background-color: #fff;
}
.portfolio {
  background-color: #fff;
}
.footer-main {
  background-color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.logo-footer .span-studio {
  color: #f4f4fd;
}
.footer-main .paragraph {
  color: #f4f4fd;
}
